<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{username}}
                    </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="#/profile">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview </a>
                        </li>
                        <li>
                            <a href="#/notes">
                                <i class="glyphicon glyphicon-ok"></i>
                                Notes</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        div class="col-md-9">
        <h2>Editing menu</h2>
        <div class = "col-md-12">
            <a>Note</a>
        </div>
        <div class = "note-creation col-md-12">
            <div class = "chapter-creation">
                <form>
                    <label> Title
                        </br>
                        <input type="text" placeholder="Title?" />
                    </label>
                    </br>
                    <label> Text
                        <textarea input="text" data-provide="markdown" rows="10"></textarea>
                    </label>
                    </br>
                    <label> Tags
                        <div class = "col-md-12">
                            <a>Tag 1</a>
                            <a>Tag 2</a>
                            <span class = "glyphicon glyphicon-plus"></span>
                        </div>
                    </label>
                    </br>
                    <button class="btn">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>