<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{username}}
                    </div>
                </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="#/profile">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview </a>
                        </li>
                        <li>
                            <a href="#/notes">
                                <i class="glyphicon glyphicon-ok"></i>
                                Notes</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <h2>Editing menu</h2>
            <div class = "note-creation col-md-12">
                <div class = "chapter-creation">
                    <form>
                        <label> Title
                            </br>
                            <input type="text" ng-model="note.title" placeholder="Title?" />
                        </label>
                        </br>
                        <div class = "col-md-12">
                            <h3 ng-hide="note.chapters.length">You have no chapters added so far</h3>
                            <ul>
                                <li ng-show="note.chapters.length" ng-repeat="chapter in note.chapters" >
                                    <a>{{chapter.title}}</a>
                                </li>
                                <li><span ng-click = "addChapter()" class = "glyphicon glyphicon-plus">Add chapter</span></li>
                            </ul>
                        </div>
                        <label> Description
                            <textarea ng-model="note.description" data-provide="markdown" rows="10"></textarea>
                        </label>
                        </br>
                        <button ng-click = "editNote(note)" class="btn">Ok</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>