<div class="bg-extended">
    <div class="align-vertical-center">
        <div class="container">
            <div class="row">
                <div class="well col-sm-offset-3 col-sm-6">
                    <div class="well-heading alert-danger">
                        <h1>Error {{code}}</h1>
                        <a href="#/main" style="position: absolute; right: 50px; bottom:-25px" class="btn btn-primary btn-fab btn-raised mdi-action-home"></a>
                    </div>
                    <div class="well-body">
                        <h4>{{message}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>