<div class="container">
    <div class="omb_login">
    	<h3 class="omb_authTitle">Login or <a href="/register">Sign up</a></h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-4 col-sm-2">
		        <a href="/login/facebook" id = "login-facebook" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
	        </div>
        	<div class="col-xs-4 col-sm-2">
		        <a href="/login/github" id = "login-github"  class="btn btn-lg btn-block omb_btn-github">
			        <i class="fa fa-twitter visible-xs"></i>
			        <span class="hidden-xs">Github</span>
		        </a>
	        </div>	
        	<div  class="col-xs-4 col-sm-2">
		        <a href="/login/vkontakte" id = "login-vkontakte" class="btn btn-lg btn-block omb_btn-vkontate">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">VK</span>
		        </a>
	        </div>	
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
			    <form class="omb_loginForm" autocomplete="off">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="email" class="form-control" name="username" ng-model = "username" placeholder="Email address">
					</div>
					<span class="help-block"></span>
										
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input  type="password" class="form-control" name="password" ng-model = "password" placeholder="Password">
					</div>
					</br>
					<button class="btn btn-lg btn-success btn-block" ng-click="login()">Login</button>
				</form>
			</div>
    	</div>  	
	</div>
</div>