    <div class="row">
        <div class = "col-sm-9 notes">
            <div class = "notes col-md-12">
                <ul ng-show="notes.length" style="list-style-type: none;" ng-repeat="note in notes | orderBy: date" class = "note col-md-12">
                    <li>
                        <div class = "note-title col-md-12" ng-model="note.title">{{note.title}}</div>
                        <div ng-show="note.chapters.length" ng-repeat="chapter in note.chapters" class = "chapter col-md-12">
                                <div class="panel panel-default">
                                    <div ng-click = "showChapter(chapter)" class="panel-heading">
                                        <h3 class="panel-title">{{chapter.title}}</h3>
                                    </div>
                                    <div ng-show="chapter.show" class = "panel-body">
                                        <span>{{chapter.text}}</span>
                                    </div>
                                </div>
                        </div>
                        <div class = "col-md-12 note-description">
                            <strong> Description: </strong>{{note.description}}
                        </div>
                        <div class = "time-description">{{note.date| date:'medium'}}</div>
                        <div class = "note-author">{{note.user.username}}</div>
                    </li>
                </ul>
            </div>
        </div>

        <div class = "col-sm-3 best recent">
            <div class="row">
                <div class = "col-sm-12">
                    gfgfgfg
                </div>
            </div>
            <div class="row">
                <div  class = "col-sm-12">
                    fgfgfgfg
                </div>
            </div>
        </div>
    </div>