<div class="container">


    <!--<div class="alert alert-danger" role="alert">User with that email exists! Choose another one!</div> -->

    <div class="omb_login">
    	<div class="omb_regTitle">
		<h2>Sign up</h2>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">
		<form>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input id="email" type="text" class="form-control" ng-model="user.email"
                                   required="required" placeholder = "Email"/>
					</div>
											</br>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input id="username" type="text" class="form-control" ng-model="user.username"
                                   required="required" placeholder = "Username"/>
					</div>
											</br>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input id="password" type="password" class="form-control" ng-model="user.password"
                                   required="required" placeholder = "Password"/>
					</div>
											</br>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input id="confirmPassword" type="text" class="form-control" ng-model="user.confirmPassword" placeholder = "Confirm password"
                                   required="required"/>
					</div>
											</br>
					<button class="btn btn-lg btn-success btn-block" ng-click="register()">Sign Up</button>
			</form>
			</div>
    	</div>	
	</div>
        </div>
</div>
