<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{username}}
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR BUTTONS -->
                <!--<div class="profile-userbuttons">
                    <table>
                        <tr>
                            <td style="padding-right:10px">
                                <label for="input-3" class="control-label">Rate</label>
                            </td>
                            <td>
                                <input id="input-3" name="input-3" value="3.2" class="rating-loading" data-size="xs"/>
                            </td>
                        </tr>
                    </table>
                </div> -->
                <!-- END SIDEBAR BUTTONS -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#/profile">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview </a>
                        </li>
                        <li>
                            <a href="#/notes">
                                <i class="glyphicon glyphicon-ok"></i>
                                Notes</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-flag"></i>
                                Help </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                <div class = "holder award-holder">
                    <div class = "stat-title content-title">
                        Activity statistic
                    </div>
                    <div class = "stat">
                    </div>
                </div>
                <div class = "holder award-holder">
                    <div class = "award-title content-title">
                        Awards
                    </div>
                    <div class = "award">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>