<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        {{username}}
                    </div>
                </div>
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li>
                            <a href="#/profile">
                                <i class="glyphicon glyphicon-home"></i>
                                Overview </a>
                        </li>
                        <li class="active">
                            <a href="#/notes">
                                <i class="glyphicon glyphicon-ok"></i>
                                Notes</a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class = "create-note col-md-12">
                <span class = "note-description" >Create new note</span>
                <a href="#/note/create"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a>
            </div>
            <div class = "notes col-md-12">
                <ul ng-show="notes.length" style="list-style-type: none;" ng-repeat="note in notes | orderBy: date" class = "note col-md-12">
                    <li>
                        <div class = "note-header col-md-12" ng-model="note.title">
                            <span class = "note-title">{{note.title}}</span>
                            <span class = "glyphicon glyphicon-remove icon" ng-click = "deleteNote(note)"></span>
                            <span class = "glyphicon glyphicon-pencil icon" ng-click = "editNote(note)"></span>
                        </div>
                        <h3 ng-hide="note.chapters.length">You have no chapters added so far</h3>
                        <div ng-show="note.chapters.length" ng-repeat="chapter in note.chapters" class = "chapter col-md-12">
                            <div class="panel panel-default">
                                <div ng-click = "showChapter(chapter)" class="panel-heading">
                                    <h3 class="panel-title">{{chapter.title}}</h3>
                                </div>
                                <div ng-show="chapter.show" class = "panel-body">
                                    <span>{{chapter.text}}</span>
                                </div>
                            </div>
                        </div>
                        <div class = "col-md-12 note-description">
                            <strong> Description: </strong>{{note.description}}
                        </div>
                        <div class = "time-description">{{note.date | date:'medium'}}</div>
                        <div class = "note-author">{{note.user.username}}</div>
                    </li>
                </ul>s
            </div>
        </div>
    </div>
</div>