
/*
    Note: It is best to use a less version of this file ( see http://css2less.cc
    For the media queries use @screen-sm-min instead of 768px.
    For .omb_spanOr use @body-bg instead of white.
*/


@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}


hr.message-inner-separator
{
	clear: both;
	margin-top: 10px;
	margin-bottom: 13px;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.greet{
	width: auto;
	height: 80px;
	margin-bottom: 30px;
	background-color: #00b300;
	color: white;
	text-align:center;
	font-size: 25pt;
}

.alert{
	width: auto;
}

.greet-app{

	width: auto;
	height: 60px;
	margin-bottom: 30px;
	background-color: #00b300;
	color: white;
	text-align:center;
	font-size: 25pt;

}

.omb_login .omb_regTitle{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 40px;
	width: 150px;
}	
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-github {background: black;}
.omb_login .omb_socialButtons .omb_btn-vkontate {background: #45668e;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #00b300;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: lightgreen;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
	margin-top: 5px;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}

.col-sm-8{
	background-color: 90EE90;
	height: 75vh;
}
.log{
	position: absolute;
	top:2%;
	left: 92%;
	font-size: 1.2em;
}
.table{
	color: white;
}


.submit-with-icon {
	background: transparent;
	border: 0px;
	padding: 0;
	outline: 0;
}
