textarea {resize: none;}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #2C3E50;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #2C3E50;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}



.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #2C3E50;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fefce0;
  color: #2C3E50;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: white;
  background-color: #2C3E50;
  border-left: 2px solid #2C3E50;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.holder{
	margin-top: 15px;
	border: 1px solid #E7E7E7;
	min-height: 150px;
}

.content-title{
	border-bottom: 1px solid #E7E7E7;
	background-color: #2C3E50;
	min-height: 50px;
	color: white;
	font-size: 20pt;
	text-align: center;
}

.note{
    font-size: 14pt;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}
.note-title{
    font-size: 20pt;
    font-family: 'Playfair Display', bold;
    text-align:center;
    color: #2C3E50;
}

.note-header{
    display: inline-block;
}

.icon{
    font-size: 10pt;
    float: right;
}

.glyphicon-plus-sign{
    font-size: 30px;
    color: #2C3E50;
    float: right;
}

.note-description{
    paddig-top: 20px;
    border-bottom: 2px solid #2C3E50;
    padding-bottom: 20px;
}

.time-description{
    font-size: 12pt;
    padding-top: 5px;
    float: left;
}

.note-author{
    font-size: 14pt;
    float: right;
}

.create-note{
    font-size: 24px;
    margin-bottom: 10px;
}

.chapter-description{
    font-size: 18px;
}

.note-creation{
    min-height: 50px;
    border-radius: 10px;
    border: solid 1px #2C3E50;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}